# Discord Bot Tokens
MAIN_BOT_TOKEN=
CLIENT_ID=
GUILD_IDS=

# Channel IDs
WELCOME_CHANNEL_ID=
LEAVE_CHANNEL_ID=
DATE_CHANNEL_ID=
TIME_CHANNEL_ID=
INTRO_CHANNEL_ID=

# Footer Icon URL (optional)
FOOTER_ICON_URL=

# VirusTotal API
VIRUSTOTAL_API_KEY=

# Verification NDA Web Server
NDA_WEB_PORT=3001
NDA_PUBLIC_URL=https://nda.ponzu-saba.com
DISCORD_CLIENT_SECRET=

PROXYCHECK_API_KEY=